body{
    font-family: 'poppins' sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: white;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(253, 20, 4, 0.2);

}
input{
    width: 100%;
    padding: 10px ;
    margin-bottom: 10px;

}
button{
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 align-items: center;    
}
.option{
    background: #eee;
    padding: 10px;
    margin-block-end: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}
.option:hover{
    background: #ddd;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button{
    margin-top: 20px;
}
